@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

$color-fiord: #394263; // sidenav bg & dark text
$color-white: #fff; // card bg
$color-athens-gray: #eaedf1; // content bg
$color-catskill-white: #f9fafc; // top nav bg
$color-abbey: #777; // gray text
$color-mischka: #dadae3; // light gray for menu icon
$color-java: #1bbae1; // blue text
$color-mine-shaft: #333; // main section header bg
$color-zest: #e67e22; // document icon bg
$color-jungle-green: #27ae60; // calendar icon bg
$color-cinnabar: #e74c3c; // main icon bg, red
$color-amethyst: #af64cc; // main photo icon bg
$color-transparent: rgba(255, 255, 255, 0.5);
$color-alto: #d3d3d3;

$height-header: 50px;
$height-footer: 50px;
$width-sidenav: 240px;



@mixin profile-avatar {
  background-image: url('https://dashboard.mx/ffct_laravel/public/img/user.png');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

@mixin box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

